@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Black;
  src: url(fonts/Poppins-Black.ttf);
}

header {
  background-color: hsl(84, 36%, 54%);
  padding: 0.3px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 0 auto;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: Poppins-Black;
}

h2 {
  font-size: 20px;
}

body {
  background-color: hsl(88, 47%, 86%);
  font-family: Poppins;
  margin: 0px;
}

p {
  font-family: Poppins;
  text-align: center;
}

h2 {
  font-family: Poppins-Black;
}

table {
  font-family: Poppins;
  background-color: hsl(84, 69%, 75%);
  margin: 10px;
}

td {
  padding: 5px;
  text-align: center;
}

th {
  padding: 5px;
  text-align: center;
  font-family: Poppins-Black;
  background-color: hsl(84, 54%, 61%);
}

.logo {
  width: 150px;
  height: 150px;
  border: 2px solid;
  border-radius: 100px;
  background-image: url(images/zaliasbatas.png);
  background-position: center;
  background-size: 150px;
  margin-left: 200px;
  animation-name: slideLeft;
  animation-duration: 2s;
  animation-play-state: running;
}

.pagination {
  text-align: center;
}

.pagination a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  padding: 5px 14px;
  display: inline-block;
  border-radius: 5px;
}

.pagination a.active {
  background-color: hsl(73, 78%, 64%);
  font-weight: bolder;
}

.pagination a:hover:not(.active) {
  background-color: hsl(0, 0%, 72%);
}

.oltitle {
  text-align: center;
}



.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: hsl(84, 54%, 65%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 60vh;
}

.navcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: hsl(84, 54%, 65%);
}

.navbar a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(85, 48%, 58%);
}

.navbar li {
  width: 33%;
  font-weight: bold;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border: 1px solid hsl(0, 0%, 0%);
  border-left: none;
  border-right: none;
  padding: 35px;
  background-color: hsl(89, 39%, 78%);
  box-shadow: 0px 0px 6px hsl(0, 0%, 19%);
}

.slogan {
  text-align: center;
  margin-right: 200px;
  animation-name: slideRight;
  animation-duration: 2s;
  animation-play-state: running;
}

#slogan1 {
  font-family: Poppins;
  font-size: 40px;
}

#slogan2 {
  font-family: Poppins;
  font-size: 27px;
}

@keyframes slideRight {
  from {
    transform: translateX(300px);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-300px)
  }

}

#aboutus {
  border-left: 2px solid hsl(0, 0%, 0%);
  border-right: 2px solid hsl(0, 0%, 0%);
}