* {
    font-family: madeTommy, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: madeTommy;
    src: url(/fonts/madeTommy-Regular.otf);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

body {
    background-color: hsl(88, 47%, 86%);

    margin: 0px;
}

p {
    text-align: center;
}

table {

    background-color: hsl(84, 69%, 75%);
    margin: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

td {
    padding: 5px;
    text-align: center;
}

th {
    padding: 5px;
    text-align: center;
    background-color: hsl(84, 54%, 61%);
}

.logo {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 100px;
    background-image: url(images/zaliasbatas.png);
    background-position: center;
    background-size: 150px;
    margin: 10px;
}


.oltitle {
    text-align: center;
}


.pagination {
    text-align: center;
}

.pagination a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.pagination a.active {
    background-color: hsl(84, 48%, 55%);
}

.pagination a:hover:not(.active) {
    background-color: hsl(84, 68%, 73%);
}

.icons {
    text-align: center;
}

.why {
    display: inline-block;
    border: 2px solid;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 60vh;
}

.navcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
}

.navbar a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 90%);
}

.navbar li {
    width: 33%;
    font-weight: bold;
}

#aboutus {
    border-left: 2px solid hsl(0, 0%, 0%);
    border-right: 2px solid hsl(0, 0%, 0%);
}