* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter_28pt-Regular.ttf);
}

@font-face {
  font-family: 'Inter Bold';
  src: url(/fonts/Inter_28pt-Bold.ttf);
}

header {
  position: sticky;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
  color: #1e1e20;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f5ef;
  padding: 25px 7%;
}

.navbar a {
  letter-spacing: 0.5px;
  margin: 0 10px;
  font-size: 1.1rem;
  color: #1a1a1b;
  font-weight: 800;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 12px;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  border: 2px solid #1a1a1b;
  background: linear-gradient(90deg, #c8daac 20%, #beda93 100%);
  box-shadow: 0 0 3px #1a1a1b,
    0 0 5px #1a1a1b
}

.nav-container h1 {
  font-family: 'Inter Bold', Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
}

.nav-container #myPicture {
  width: 75px;
  height: 75px;
  border: 2px solid;
  border-radius: 100px;
  background-image: url(/images/zaliasbatas.png);
  background-position: center;
  background-size: 75px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons i {
  margin: 0 7px;
  cursor: pointer;
  font-size: 2.3rem;
}

.fa-solid.fa-cart-shopping.fa-2xl {
  color: #4f633d;
  transition: 0.2s ease-in-out;
}

.fa-solid.fa-cart-shopping.fa-2xl:hover {
  color: #768a63;
}

.fa-solid.fa-gear.fa-2xl{
  color: #2e2d35;
  transition: 0.2s ease-in-out;
}
.fa-solid.fa-gear.fa-2xl:hover{
  color: #4f4e57;
}
.fa-solid.fa-user.fa-2xl{
  color: #885254;
  transition: 0.2s ease-in-out;
}
.fa-solid.fa-user.fa-2xl:hover{
  color: #b4888a;
}


body {
  background-color: #e2eed3;
  overflow-x: hidden;
}

.pagination {
  text-align: center;
}

.pagination a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  padding: 5px 14px;
  display: inline-block;
  border-radius: 5px;
}

.pagination a.active {
  background-color: hsl(73, 78%, 64%);
  font-weight: bolder;
}

.pagination a:hover:not(.active) {
  background-color: hsl(0, 0%, 72%);
}

.oltitle {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

#searchBox {
  width: 400px;
  padding: 7px;
  border: hsl(0, 0%, 0%);
  border-radius: 15px;
  box-shadow: 0px 0px 7px;
}

#myButton {
  width: 75px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  box-shadow: 0px 0px 4px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: hsl(0, 0%, 85%);
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 0%);
}

.dropdown a {
  display: block;
  background-color: hsl(0, 0%, 80%);
  padding: 10px 15px;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

.dropdown .content {
  position: absolute;
  display: none;
  width: 100px;
  text-align: center;
  margin: auto;
}

.dropdown:hover .content {
  display: block;
}

.myContainer {
  text-align: center;
  padding: 15px;
}