@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat SB';
    src: url(/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat B';
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat XB';
    src: url(/fonts/Montserrat-ExtraBold.ttf);
}

/* general styles */
* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #1f1f22;
}

body {
    background-color: #cfcfcf;
}

button {
    background: linear-gradient(90deg, #716097 15%, #4d1ac5 75%);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

button i {
    color: #e2e2dc;
}

button:hover {
    transform: translateY(-2px);
    opacity: 90%;
}

#download-body {
    padding-top: 60px;
    overflow: hidden;
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 8px;
    background-color: #4d4d4d;
}

::-webkit-scrollbar-thumb {
    height: 20px;
    width: 10px;
    background-color: #747474;
}

/* all words that need to be bold */
.bold-words {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

/* header style */
header {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    background-color: #eeede0d8;
    z-index: 1000;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    font-size: 1.3rem;
}

.header-content h1 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat XB';
    user-select: none;
    gap: 15px;
}

.header-content h1 img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.navbar {
    user-select: none;
    word-spacing: 35px;
}

.navbar a {
    display: inline-block;
    font-family: 'Montserrat B';
    text-decoration: none;
    opacity: 90%;
}

.navbar a:hover {
    opacity: 100%;
}

#header-btn {
    height: 60px;
    width: 165px;
    padding: 0;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    user-select: none;
}

#header-btn span {
    font-size: 0.9rem;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#header-btn:hover {
    transform: translateY(-3px);
}

#header-btn i {
    font-size: 1rem;
    margin-left: 10px;

}

/* language change style */
.change-lang {
    position: fixed;
    top: 50%;
    left: 15px;
}

#lang-btn{
    display: flex;
    align-items: center;
    background: #37373b;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}


#lang-btn span {
    opacity: 0;
    width: 0;
    transform: translateX(-5px);
    color: #e2e2dc; 
    transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease;
}

#lang-btn:hover span {
    opacity: 1;
    transform: translateX(0);
    width: 100px;
    opacity: 1;
    padding: 0 5px;
}

#lang-btn button{
    background: #1f1f22;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 100%;
    transition: none;
}

#lang-btn button:hover {
    transform: translateY(0);
}

#lang-btn i {
    color: #e2e2dc;
    font-size: 1.5rem;
}

#lang-btn button:hover{
    opacity: 90%;
}

#lang-options {
    display: none;
    flex-direction: column;
    background: #1f1f22;
    border-radius: 30px;
    gap: 8px;
    margin-top: 5px;
    padding: 10px;
}

#lang-options a {
    display: flex;
    align-items: center;
    color: #e2e2dc;
    font-size: 14px;
    gap: 5px;
    border-radius: 30px;
    padding: 3px;
}

#lang-options a:hover{
    background: #37373a;
}

#lang-options img {
    height: 30px;
    width: 30px;
}

/* all sections style */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem 10rem;
}

/* home section style */
.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
}

.home-content h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.home-content p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 90%;
}

#home-btns {
    display: flex;
    gap: 10px;
}

#home-btns button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin-top: 20px;
    height: 60px;
    width: 175px;
}

#app-btn {
    border: none;
    color: #e2e2dc;
}

#download-btn {
    border: 3px solid #4d1ac5;
    background: transparent;
}

#download-btn span {
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    color: #4d1ac5;
}

#download-btn i {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 4px;
    color: #4d1ac5;
}

.home-content img {
    float: right;
    height: 425px;
    width: 425px;
    background: linear-gradient(90deg, #716097 15%, #6b3bda 75%);
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0 0 40px #716097;
    transition: 0.3s ease-in-out;
}

.home-content img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 60px #716097, 0 0 60px #716097;
}

#home-bold {
    font-family: 'Montserrat SB';
}

/* about section style */
.about-content {
    display: flex;
}

.about-image img {
    max-width: 45rem;
    max-height: 45rem;
    top: 45rem;
    left: 4rem;
    position: absolute;
    z-index: -1;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7rem;
    gap: 15px;
    margin-top: 80px;
    background: radial-gradient(#262627, #706e77);
    z-index: -2;
    width: 900px;
    padding: 5rem;
    box-shadow: 0 0 50px #706e77, 0 0 50px #706e77;
}

.about-text h1,
.about-text li {
    color: #e2e2dc;
}

.about-text h1 {
    letter-spacing: 2px;
}

.about-text li {
    letter-spacing: 1px;
}

.about-text h1,
.about-text li {
    text-align: left;
    width: 250px;
}

.about-text h1 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

.about-text li {
    list-style: none;
}

.stats-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4rem;
    top: 54.8rem;
    width: 350px;
    gap: 40px;
}

.stats {
    display: flex;
    align-items: center;
    background-color: #eeede0;
    gap: 30px;
    border-radius: 30px;
    padding: 15px;
    user-select: none;
}

.stats h1 {
    flex-direction: column;
    font-size: 1rem;
}

.stats span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.stats i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #9f86bb;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #744cd1;
    color: #e2e2dc;
}

.fa-solid.fa-music,
.fa-solid.fa-microphone,
.fa-solid.fa-headphones-simple {
    height: 50px;
    width: 50px;
    padding: 30px;
}

/* explore section style */
.explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 125px;
}

#explore-btn {
    color: #e2e2dc;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    border: none;
    cursor: pointer;
}

/* explore search box style */
.search-container {
    display: flex;
    gap: 1rem;
}

.search-container button {
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    color: #e2e2dc;
    border: none;
}

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box input {
    display: flex;
    height: 55px;
    width: 550px;
    border: none;
    outline: none;
    background-color: #eeede0;
    font-size: 1.1rem;
    padding: 0 60px;
    border-radius: 30px;
    user-select: none;
}

#search-box i {
    position: absolute;
    left: 23%;
    cursor: pointer;
    font-size: 1.7rem;
    color: #aaaaaa;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.explore-suggestions {
    display: flex;
    flex-direction: column;
}

.explore-suggestions button {
    display: flex;
    justify-content: flex-end;
    width: 50px;
}

.sugg-row {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.sugg-card {
    position: relative;
    height: 190px;
    width: 160px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s ease-in-out;
}

.sugg-card:hover {
    opacity: 90%;
}

.sugg-card:hover .sugg-text {
    transform: translateY(5px);
}

.sugg-card:hover .sugg-example {
    transform: translateY(-5px);
}

.sugg-text {
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    text-align: center;
    border-radius: 30px;
    background-color: #32323a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.2s ease-in-out;
}

.sugg-text h2,
.sugg-text h3 {
    color: #e2e2dc;
}

.sugg-text h2 {
    font-family: 'Montserrat SB', Arial, Helvetica, sans-serif;
}

.sugg-example {
    background-color: #252529;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}

/* help section style */
.help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 125px;
}

.help-content h1 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

#faq-container,
#contact-form {
    background-color: #eeede0;
    padding: 2.5rem;
    border-radius: 30px;
}

#faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 450px;
    height: 410px;
}

#faq-container summary {
    cursor: pointer;
    user-select: none;
}

.faq-answers {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

#faq-container h3 {
    font-size: 1.3rem;
}

.faq-contact-container {
    display: flex;
    gap: 8rem;
}

.faq-contact-container h1 {
    font-size: 2rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form input,
#contact-form textarea {
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #252527;
    background-color: #eeede0;
    border-radius: 10px;
    padding: 15px;
}

#contact-form p {
    display: inline-block;
    padding: 0 5px;
    margin-left: 10px;
    transform: translateY(10px);
    background-color: #eeede0;
}

#contact-form button {
    padding: 15px;
    cursor: pointer;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    color: #e2e2dc;
    border: none;
    width: 100%;
    margin-top: 10px;
}

#contact-form button i {
    font-size: 1rem;
    margin-left: 10px;
}

#contact-form #message {
    height: 100px;
}

/* footer section style */
.footer {
    height: 350px;
    width: 100%;
    background-color: #eeede0;
}

.footer-content h1 {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat XB';
    user-select: none;
    gap: 15px;
}

.footer-content h1 img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.footer-content hr {
    height: 3px;
    background-color: #1f1f22;
    margin: 0 40px;
    border-radius: 30px;
}

.footer-content p {
    text-align: center;
    margin: 10px 0;
}

.footer-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2.7rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 4rem;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer-link h2 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    margin: 5px 0;
}

.social-media {
    position: absolute;
    right: 0;
    top: 186.2rem;
    padding: 0 2.7rem;
}

.social-media button {
    background: #1f1f22;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 100%;
}

.social-media button:hover {
    opacity: 90%;
}

.social-media i {
    color: #e2e2dc;
    font-size: 1.3rem;
}

/* login and register sections style */
#form-body {
    overflow: hidden;
}

.login-content,
.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-content {
    display: none;
}

.login-container img,
.register-container img {
    height: 55px;
    width: 55px;
}

.login-container input,
.register-container input {
    width: 275px;
    height: 50px;
    outline: none;
    border: 1px solid #9d9fa1;
    background-color: #eeede0;
    border-radius: 10px;
    padding: 15px;
    font-size: 1rem;
}

.login-container input::placeholder,
.register-container input::placeholder {
    font-size: 1rem;
    color: #9d9fa1;
}

.login-input,
.register-input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.login-input p,
.register-input p {
    font-family: 'Montserrat SB', Arial, Helvetica, sans-serif;
}

#login-form,
#register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eeede0;
    width: 475px;
    border-radius: 30px;
    padding: 3.5rem 1.5rem;
    box-shadow: 0 5px 15px #0000001a;
}

#login-form h1,
#register-form h1 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

#login-form button,
#register-form button {
    padding: 15px;
    cursor: pointer;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    color: #e2e2dc;
    border: none;
    width: 275px;
    margin-top: 10px;
    opacity: 100%;
    margin-top: 1.5rem;
}

#login-form button:hover,
#register-form button:hover {
    opacity: 90%;
}

#login-form h5,
#register-form h5 {
    font-weight: 400;
    font-size: 1rem;
}

#login-form h5 a,
#register-form h5 a {
    text-decoration: underline;
}

#login-form h5 a:hover,
#register-form h5 a:hover {
    color: #492a91;
}

#register-form h5 {
    margin-top: 8px;
}

#login-input,
#register-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-other {
    display: flex;
    gap: 5px;
}

#login-other button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f22;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 100%;
}

#login-other button:hover {
    opacity: 90%;
}

#login-other i {
    color: #e2e2dc;
    font-size: 1.3rem;
}

.login-extra {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    margin-top: 8px;
}

/* selection style */
::selection {
    background-color: #693dcf;
    color: #e2e2dc;
}