@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat SB';
    src: url(/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat B';
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat XB';
    src: url(/fonts/Montserrat-ExtraBold.ttf);
}

/* GENERAL STYLES */
* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #cfcfcf;
}

button {
    transition: 0.3s ease-in-out;
    background: linear-gradient(90deg, #716097 15%, #4d1ac5 75%);
    border-radius: 10px;
}

button:hover {
    transform: translateY(-3px);
}

#download-body {
    padding-top: 60px;
    overflow: hidden;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 8px;
    background-color: #4d4d4d;
}

::-webkit-scrollbar-thumb {
    height: 20px;
    width: 10px;
    background-color: #747474;
}

/* ALL WORDS THAT NEED TO BE BOLD */
.bold-words {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

/* HEADER STYLE */
header {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    background-color: #eeede0d8;
    z-index: 1000;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    font-size: 1.3rem;
}

.header-content h1 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat XB';
    user-select: none;
    gap: 15px;
}

.header-content h1 img {
    height: 45px;
    width: 45px;
    background: linear-gradient(90deg, #716097 15%, #6b3bda 75%);
    border-radius: 50%;
}

.navbar {
    user-select: none;
    word-spacing: 35px;
}

.navbar a {
    display: inline-block;
    font-family: 'Montserrat B';
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: #4d1ac5;
}

#header-btn {
    font-size: 0.9rem;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    color: #ffffff;
    user-select: none;

}

#header-btn:hover {
    transform: translateY(-3px);
}

#header-btn i {
    font-size: 1rem;
    margin-left: 10px;

}

/* LANGUAGE CHANGE DROPDOWN STYLE */

#change-lang-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

#change-lang-btn img {
    height: 35px;
    width: 35px;
}

#dropdown-menu {
    display: none;
    flex-direction: column;
    border-radius: 30px;
    background-color: #e6e7dad8;
    backdrop-filter: blur(5px);
    padding: 10px;
    margin-top: -10px;
    position: absolute;
    list-style: none;
    cursor: pointer;
}

#dropdown-menu li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    gap: 10px;
}

#dropdown-menu li:hover {
    background-color: #c4c4c4;
}

#dropdown-menu img {
    height: 35px;
    width: 35px;
}

#change-lang:hover #dropdown-menu {
    display: flex;
}

/* ALL SECTIONS STYLE */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem 10rem;
}

/* HOME SECTION STYLE */
.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
    animation: slideUp 0.8s ease-in-out;
}

.home-content h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.home-content p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 90%;
}

#home-btns {
    display: flex;
    gap: 10px;
}

#home-btns button {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin-top: 20px;
    height: 60px;
    width: 175px;
}

#home-btns button:hover {
    transform: translateY(-3px);
}

#app-btn {
    border: none;
    color: #e2e2dc;
}

#download-btn {
    border: 3px solid #4d1ac5;
    background: transparent;
    color: #4d1ac5;
}

#download-btn i {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 4px;
}

.home-content img {
    float: right;
    height: 425px;
    width: 425px;
    background: linear-gradient(90deg, #716097 15%, #6b3bda 75%);
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0 0 40px #716097;
    transition: 0.3s ease-in-out;
}

.home-content img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 60px #716097, 0 0 60px #716097;
}

#home-bold {
    font-family: 'Montserrat SB';
}

@keyframes slideUp {
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ABOUT SECTION STYLE */
.about-content {
    display: flex;
}

.about-image img {
    max-width: 45rem;
    max-height: 45rem;
    top: 45rem;
    left: 4rem;
    position: absolute;
    z-index: -1;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7rem;
    gap: 15px;
    margin-top: 80px;
    background: radial-gradient(#262627, #706e77);
    color: #e2e2dc;
    z-index: -2;
    width: 900px;
    padding: 5rem;
    box-shadow: 0 0 50px #706e77, 0 0 50px #706e77;
}

.about-text h1 {
    letter-spacing: 2px;
}

.about-text li {
    letter-spacing: 1px;
}

.about-text h1,
.about-text li {
    text-align: left;
    width: 250px;
}

.about-text h1 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

.about-text li {
    list-style: none;
}

.stats-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4rem;
    top: 54.8rem;
    width: 350px;
    gap: 40px;
}

.stats {
    display: flex;
    align-items: center;
    background-color: #eeede0;
    gap: 30px;
    border-radius: 30px;
    padding: 15px;
    user-select: none;
}

.stats h1 {
    flex-direction: column;
    font-size: 1rem;
}

.stats span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.stats i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #9f86bb;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #744cd1;
    color: #e2e2dc;
}

.fa-solid.fa-music,
.fa-solid.fa-microphone,
.fa-solid.fa-headphones-simple {
    height: 50px;
    width: 50px;
    padding: 30px;
}

/* EXPLORE SECTION STYLE */
.explore-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 125px;
}

#explore-btn {
    color: #e2e2dc;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    border: none;
    cursor: pointer;
}

/* EXPLORE SEARCH BOX STYLE */
.search-container {
    display: flex;
    gap: 1rem;
}

.search-container button {
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    color: #e2e2dc;
    border: none;
}

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box input {
    display: flex;
    height: 55px;
    width: 550px;
    border: none;
    outline: none;
    background-color: #eeede0;
    font-size: 1.1rem;
    padding: 0 60px;
    border-radius: 30px;
    user-select: none;
}

#search-box i {
    position: absolute;
    left: 23%;
    cursor: pointer;
    font-size: 1.7rem;
    color: #aaaaaa;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.explore-suggestions{
    display: flex;
    flex-direction: column;
}

.explore-suggestions button{
    display: flex;
    justify-content: flex-end;
    width: 50px;
}

.sugg-row{
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.sugg-card{
    position: relative;
    height: 190px;
    width: 160px;
    cursor: pointer;
    opacity: 90%;
    transition: 0.2s ease-in-out;
}

.sugg-card:hover{
    opacity: 100%;
}

.sugg-card:hover .sugg-text{
    transform: translateY(5px);
}

.sugg-card:hover .sugg-example{
    transform: translateY(-10px);
}

.sugg-text{
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #e2e2dc;
    width: 100%;
    padding: 2px;
    text-align: center;
    border-radius: 30px;
    background-color: #32323a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.2s ease-in-out;
}

.sugg-text h2{
    font-family: 'Montserrat SB', Arial, Helvetica, sans-serif;
}

.sugg-example{
    background-color: #252529;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}

/* HELP SECTION STYLE */
.help-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help-content h1{
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

#faq-container,
#contact-form{
    background-color: #eeede0;
}

#faq-container{
    width: 450px;
}

#faq-container summary{
    cursor: pointer;
    user-select: none;
}

.faq-contact-container{
    display: flex;
    gap: 5rem;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#contact-form input,
#contact-form textarea{
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #252527;
    background-color: #eeede0;
}

#contact-form p{
    display: inline-block;
    padding: 0 5px;
    margin-left: 10px;
    transform: translateY(10px);
    background-color: #eeede0;
}

#contact-form #message{
    height: 100px;
}

#social-media{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#social-media button{
    font-size: 1.5rem;
    color: #e2e2dc;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* SELECTION STYLE */

::selection {
    background-color: #693dcf;
    color: #e2e2dc;
}