@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat B';
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat XB';
    src: url(/fonts/Montserrat-ExtraBold.ttf);
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: radial-gradient(#e2e2dc, #b8b8b8);
}

#download-body {
    padding-top: 60px;
    overflow: hidden;
}

/* HEADER STYLE */
header {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    background-color: #eeede0d8;
    z-index: 1000;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    font-size: 1.3rem;
}

.header-content h1 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat XB';
    cursor: pointer;
    user-select: none;
    gap: 15px;
}

.header-content h1::before {
    content: '';
    background-image: url(/images/logo-circular.png);
    background-size: cover;
    height: 45px;
    width: 45px;
}

.navbar {
    user-select: none;
    word-spacing: 35px;
}

.navbar a {
    display: inline-block;
    font-family: 'Montserrat B';
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: #4d1ac5;
}

/* LANGUAGE CHANGE DROPDOWN STYLE */

#change-lang-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#change-lang-btn img {
    height: 35px;
    width: 35px;
}

#dropdown-menu {
    display: none;
    flex-direction: column;
    border-radius: 30px;
    background-color: #e6e7dad8;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 3px #5c5c5c;
    padding: 10px;
    margin-top: -10px;
    position: absolute;
    list-style: none;
    cursor: pointer;
}

#dropdown-menu li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    gap: 10px;
}

#dropdown-menu li:hover {
    background-color: #c4c4c4;
}

#dropdown-menu img {
    height: 35px;
    width: 35px;
}

#change-lang:hover #dropdown-menu {
    display: flex;
}

/* ALL SECTIONS STYLE */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem 10rem;
}

/* ALL WORDS THAT NEED TO BE BOLD */
.bold-words {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

/* HOME SECTION STYLE */
.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 125px;
}

.home-content h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.home-content p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 10px;
    max-width: 90%;
}

.home-content button {
    font-size: 0.9rem;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #e2e2dc;
    user-select: none;
    align-self: flex-start;
    margin-top: 20px;
    background: linear-gradient(90deg, #716097 15%, #4d1ac5 75%);
    height: 60px;
    width: 175px;
    box-shadow: 0 0 15px #716097, 0 0 15px #716097;
    transition: 0.3s ease-in-out;
}

.home-content button:hover {
    transform: translateY(-3px);
}

#home-btn {
    margin-left: 10px;
    border: 3px solid #4d1ac5;
    background: transparent;
    color: #4d1ac5;
}

#home-btn i {
    font-size: 1rem;
    margin-left: 4px;
}

.home-content img {
    float: right;
    height: 425px;
    width: 425px;
    background: linear-gradient(90deg, #716097 15%, #6b3bda 75%);
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: 0 0 40px #716097;
    transition: 0.3s ease-in-out;
}

.home-content img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 60px #716097, 0 0 60px #716097;
}

/* ABOUT SECTION STYLE */
.about-content {
    display: flex;
}

.about-image img {
    max-width: 45rem;
    max-height: 45rem;
    top: 45rem;
    left: 4rem;
    position: absolute;
    z-index: -1;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 7rem;
    gap: 15px;
    margin-top: 80px;
    background: radial-gradient(#262627, #706e77);
    color: #e2e2dc;
    z-index: -2;
    width: 900px;
    padding: 5rem;
    box-shadow: 0 0 50px #706e77, 0 0 50px #706e77;
}

.about-text h1 {
    letter-spacing: 2px;
}

.about-text li {
    letter-spacing: 1px;
}

.about-text h1,
.about-text li {
    text-align: left;
    width: 250px;
}

.about-text h1 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
}

.about-text li {
    list-style: none;
}

.stats-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4rem;
    top: 54.8rem;
    width: 350px;
    gap: 40px;
}

.stats {
    display: flex;
    align-items: center;
    background-color: #eeede0;
    box-shadow: 0 0 3px #5c5c5c;
    gap: 30px;
    border-radius: 30px;
    padding: 15px;
    user-select: none;
}

.stats h1 {
    flex-direction: column;
    font-size: 1rem;
}

.stats span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.stats i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #9f86bb;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #744cd1;
    color: #e2e2dc;
}

.fa-solid.fa-music,
.fa-solid.fa-microphone,
.fa-solid.fa-headphones-simple {
    height: 50px;
    width: 50px;
    padding: 30px;
}

/* DOWNLOAD SECTION STYLE */
.download-section {
    display: flex;
    gap: 6rem;
    text-align: center;
    overflow: hidden;
}

.app-stats,
.download-container,
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#262627, #706e77);
    box-shadow: 0 0 30px #706e77;
    border-radius: 30px;
    padding: 0.8rem;
    color: #e2e2dc;
}

.download-container {
    padding: 2rem;
    height: 535px;
    width: 400px;
}

.app-stats,
.contact-container {
    height: 400px;
    width: 250px;
}

.app-stats h2,
.app-stats p {
    margin-top: 10px;
}

.app-stats h2 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.app-stats p {
    margin-top: 5px;
    font-size: 1.1rem;
}

.app-stats img {
    height: 11rem;
    width: 11rem;
    background: linear-gradient(90deg, #716097 15%, #6b3bda 75%);
    border-radius: 50%;
}

#developer-link {
    text-decoration: underline;
    color: #cc5b5b;
}

.download-container {
    display: flex;
    flex-direction: column;
}

.download-container h1 {
    font-size: 1.8rem;
}

#download-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

#download-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat XB', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    user-select: none;
    background: linear-gradient(90deg, #716097 15%, #4d1ac5 75%);
    width: 180px;
    transition: 0.3s ease-in-out;
}

#download-btn button:hover {
    transform: translateY(-3px);
}

#download-btn button:active {
    background: linear-gradient(90deg, #8371ac 15%, #764dd4 75%);
}

#download-btn i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.contact-container h2 {
    font-family: 'Montserrat B', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#contact-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

#contact-btn i {
    font-size: 1.7rem;
}

#contact-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    user-select: none;
    background: linear-gradient(90deg, #716097 15%, #4d1ac5 75%);
    transition: 0.3s ease-in-out;
}

#contact-btn button:active {
    background: linear-gradient(90deg, #8371ac 15%, #764dd4 75%);
}

#contact-btn button:hover {
    transform: translateY(-3px);
}

/* SELECTION STYLE */

::selection {
    background-color: #693dcf;
    color: #e2e2dc;
}