* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter_28pt-Regular.ttf);
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url(/fonts/Inter_18pt-ExtraBold.ttf);
}

body {
    font-size: 1.2em;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 88%);
    overflow: hidden;
}

#welcome {
    font-family: 'Inter ExtraBold', Arial, Helvetica, sans-serif;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 8px;
    padding: 20px;
    background-color: hsl(84, 69%, 75%);
    box-shadow: 0px 0px 4px;
    cursor: default;
    transition: all 0.3s ease-in-out;
}

#welcome:hover {
    transform: scale(1.03);
}

label {
    text-align: center;
    padding: 3px;
}

input {
    text-align: center;
    padding: 5px;

}

.emailField {
    top: 413px;
    right: 290px;
    width: 355px;
    height: 30px;
    position: absolute;
    border: none;
    font-size: 17;
    text-align: center;
}

button {
    text-align: center;
    width: 425px;
    height: 30px;
}

#forms {
    width: 415px;
}

.logo {
    position: absolute;
    top: 90px;
    left: 145px;
    margin: 0;
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 100px;
    background-image: url(images/zaliasbatas.png);
    background-position: center;
    background-size: 150px;
}

.continueb {
    background-color: hsl(84, 69%, 75%);
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.continueb:hover {
    background-color: hsl(84, 69%, 65%);
    transform: scale(1.05);
    cursor: pointer;
}

input[type="radio"] {
    outline: none;
    box-shadow: none;
}

.aboutus {
    position: absolute;
    border: 2px solid;
    border-radius: 8px;
    background-color: hsl(84, 69%, 75%);
    width: 370px;
    padding: 10px;
    margin: 0px;
    top: 270px;
    left: 30px;
}

.gender-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-container {
    background-color: hsl(0, 0%, 96%);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
    box-shadow: 0px 0px 5px;
}

#register {
    margin-bottom: 30px;
}

.clickme {
    text-decoration: none;
    color: hsl(85, 36%, 41%);
    transition: all 0.2s ease-in-out;
}

.clickme:hover {
    color: hsl(87, 30%, 31%);
}

#gender {
    border-radius: 5px;
    text-align: center;
    width: 90px;
}