* {
    font-family: madeTommy;
}

@font-face {
    font-family: madeTommy;
    src: url(../fonts/madeTommy-Regular.otf);
}

body {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(88, 47%, 86%);
}

h2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 3px solid;
    padding: 15px;
    border-radius: 8px;
    background-color: hsl(85, 66%, 80%);
    box-shadow: 0px 0px 5px;
}

label {
    text-align: center;
    padding: 3px;
}

input {
    text-align: center;
    padding: 3px;
    border: 2px solid;
    border-color: hsl(0, 0%, 0%);
    border-radius: 8px;
    box-shadow: 0px 0px 5px;

}

.emailField {
    top: 413px;
    right: 290px;
    width: 355px;
    height: 30px;
    position: absolute;
    border: none;
    font-size: 17;
    text-align: center;
}

button {
    text-align: center;
    width: 425px;
    height: 30px;
}

#forms {
    width: 415px;
}

.logo {
    position: absolute;
    top: 90px;
    left: 145px;
    margin: 0;
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 100px;
    background-image: url(images/zaliasbatas.png);
    background-position: center;
    background-size: 150px;
    box-shadow: 2px 2px 5px;
}

.continueb {
    background-color: hsl(84, 69%, 75%);
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 8px;
    box-shadow: 0px 0px 5px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.continueb:hover {
    background-color: hsl(84, 46%, 58%);
    cursor: pointer;

}

input[type="radio"] {
    outline: none;
    box-shadow: none;
}

.aboutus {
    position: absolute;
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
    background-color: hsl(84, 69%, 75%);
    width: 370px;
    padding: 10px;
    margin: 0px;
    top: 270px;
    left: 30px;
}

.gender-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-container {
    background-color: hsl(0, 0%, 96%);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    height: fit-content;
    text-align: center;
}

#register {
    margin-bottom: 30px;
}

.clickme {
    text-decoration: none;
    color: hsl(85, 36%, 41%);
    transition: all 0.2s ease-in-out;
}

.clickme:hover {
    color: hsl(87, 30%, 31%);
}

#gender {
    border-radius: 5px;
    text-align: center;
    width: 90px;
}