* {
    font-family: Inter, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter_28pt-Regular.ttf);
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url(/fonts/Inter_18pt-ExtraBold.ttf);
}

body {
    font-size: 1.2em;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 88%);
    overflow: hidden
}

#welcome {
    font-family: Inter-ExtraBold, Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    background-color: hsl(84, 82%, 85%);
    cursor: default;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;
}

#welcome:hover {
    transform: scale(1.03);
}

label {
    text-align: center;
    padding: 5px;
}

button {
    width: 425px;
    height: 30px;
    text-align: center;
}

#forms {
    width: 415px;
}

.continueb {
    background-color: hsl(83, 66%, 75%);
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.continueb:hover {
    background-color: hsl(78, 47%, 64%);
}

input {
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    width: 415px;
    margin-bottom: 25px;
}

input[type="radio"] {
    outline: none;
    box-shadow: none;
}

.gender-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.login-container {
    background-color: hsl(0, 0%, 96%);
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    height: fit-content;
    text-align: center;
    animation: slideDown 1.5s ease-in-out;
}

#register {
    padding: 30px;
    margin-bottom: 15px;
}

.clickme {
    text-decoration: none;
    color: hsl(85, 36%, 41%);
    transition: color 0.2s ease-in-out;
}

.clickme:hover {
    color: hsl(87, 30%, 31%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 100px;
    animation: slideUp 1.5s ease-in-out;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 100px;
    background-image: url(/images/zaliasbatas.png);
    background-size: 150px;
    background-position: center;
    transition: transform 0.5s ease;
    cursor: default;
}

.logo:hover {
    transform: scale(1.05);
}

#myH1 {
    font-family: Inter-ExtraBold, Arial, Helvetica, sans-serif;
    cursor: default;
}

@keyframes slideUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}